.mainLogo {
  max-width: 375px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  background-color: #111111;
  padding-inline: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 600px) {
    top: 50%;
    left: 5%;
    transform: none;
  }

  svg {
    max-width: 100%;
    position: relative;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  // active 時（SVGを表示）
  svg.active {
    opacity: 1;
  }

  // 初期状態（すべてのパスを非表示）
  svg {
    :global(.svg-elem-1),
    :global(.svg-elem-2),
    :global(.svg-elem-3),
    :global(.svg-elem-4),
    :global(.svg-elem-5),
    :global(.svg-elem-6),
    :global(.svg-elem-7),
    :global(.svg-elem-8),
    :global(.svg-elem-9) {
      fill: transparent;
      transition-property: fill;
      transition-duration: 1.2s;
      transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
  }

  // active 時（pから順に表示）
  svg.active {
    :global(.svg-elem-1) { 
      fill: #ffffff;
      transition-delay: 0s;
    }
    :global(.svg-elem-2) { 
      fill: #ffffff;
      transition-delay: 0.2s;
    }
    :global(.svg-elem-3) { 
      fill: #ffffff;
      transition-delay: 0.4s;
    }
    :global(.svg-elem-4) { 
      fill: #ffffff;
      transition-delay: 0.6s;
    }
    :global(.svg-elem-5) { 
      fill: #ffffff;
      transition-delay: 0.8s;
    }
    :global(.svg-elem-6) { 
      fill: #ffffff;
      transition-delay: 1s;
    }
    :global(.svg-elem-7) { 
      fill: #ffffff;
      transition-delay: 1.2s;
    }
    :global(.svg-elem-8) { 
      fill: #ffffff;
      transition-delay: 1.4s;
    }
    :global(.svg-elem-9) { 
      fill: #ffffff;
      transition-delay: 1.6s;
    }
  }
}